<html>
<head>
  <title>Cart</title>
</head>
<body>
  <a href="/api/products">Products</a>
<form action="/api/session/logout" method="GET">
  <button type="submit">Logout</button>
</form>

  <h1>Cart</h1>
  {{#each cart}}
  <h2>Cart ID: {{_id}}</h2>
  <ul>
    {{#each products}}
    <div>
      Product ID: {{productId._id}} <br>
      Title: {{productId.title}} <br>
      Quantity: {{quantity}} <br>
      Stock: {{productId.stock}}

      <!-- Formulario para modificar la cantidad -->
      <form action="/api/carts/update-quantity" method="POST">
        <input type="hidden" name="cartId" value="{{../_id}}">
        <input type="hidden" name="productId" value="{{this.productId._id}}">
        <input type="number" name="quantity" value="{{this.quantity}}">
        <button type="submit">Update quantity</button>
      </form>

      <!-- Formulario para eliminar el producto -->
      <form action="/api/carts/remove-from-cart" method="POST">
        <input type="hidden" name="cartId" value="{{../_id}}">
        <input type="hidden" name="productId" value="{{this.productId._id}}">
        <button type="submit">Remove product</button>
      </form>
    </div>
    <hr>
    {{/each}}
  </ul>
  {{/each}}
  <form action="/api/carts/purchase" method="GET">
    <button type="submit">Purchase</button>
  </form>
</body>
</html>
