<form action="/api/products/mockingproducts" method="GET">
  <input type="text" name="query" value="{{query}}" placeholder="Buscar..." />
  <input type="hidden" name="limit" value="{{limit}}" />
  <input type="hidden" name="sort" value="{{sort}}" />
  <button type="submit">Buscar</button>
  <a href="/api/products/mockingproducts">Quitar filtros</a>
</form>

<form action="/api/session/logout" method="GET">
  <h1>Bienvenido, {{userEmail}}!</h1>
  <p>Rol: {{userRole}}</p>
  <button type="submit">Cerrar sesión</button>
</form>

<div>
  {{#each mockingProducts.docs}}
    <div>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>{{this.category}}</p>
      <p>Stock Disponible: {{this.stock}}</p>
      <h3>Precio: $ {{this.price}}</h3>
      <hr>
  {{/each}}
</div>

{{#if mockingProducts.hasPrevPage}}
  <a
    href="/api/products/mockingproducts?page={{mockingProducts.prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"
  >Página anterior</a>
{{/if}}

{{#if mockingProducts.hasNextPage}}
  <a
    href="/api/products/mockingproducts?page={{mockingProducts.nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"
  >Página siguiente</a>
{{/if}}