<a href="/api/products">Home</a>
<h1>My Account</h1>
<div>
  <h2>Email: {{email}}</h2>
  <h3>Name: {{name}}</h3>
  <h3>Surname: {{surname}}</h3>
  <form action="/api/users/roles" method="POST">
  <h3>Role:
    {{role}}
    <select name="newRole">
      <option value="{{role}}">Select..</option>
      <option value="user">User</option>
      <option value="premium">Premium</option>
    </select>
    <input type="hidden" name="userId" value="{{_id}}">
   <button type="submit">Change Role</button>
  </h3>
</form>